.checkpay{
    background-color: blue;
    height: 93vh;

    .buyall{
        margin-left: 90vw;
        background-color: brown;
    }

    .buyall:hover{
        background-color: rgb(235, 108, 108);
    }


    
    .tabel{
        margin: 30px;
    }
}
